ul {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}

.list-group-item {
    color: green
}

.no-audio .audio {
    color: red;
}

.no-canvas li.canvas {
    color: red;
}

.no-csscalc li.csscalc {
    color: red;
}

.no-cssgradients li.cssgradients {
    color: red;
}

.no-csstransitions li.csstransitions {
    color: red;
}

.no-es5 li.es5 {
    color: red;
}

.no-es5array li.es5array {
    color: red;
}

.no-es5date li.es5date {
    color: red;
}

.no-es5function li.es5function {
    color: red;
}

.no-es5object li.es5object {
    color: red;
}

.no-es5string li.es5string {
    color: red;
}

.no-es5syntax li.es5syntax {
    color: red;
}

.no-es5undefined li.es5undefined {
    color: red;
}

.no-localstorage li.localstorage {
    color: red;
}

.no-rgba li.rgba {
    color: red;
}

.no-strictmode li.strictmode {
    color: red;
}

.no-svg li.svg {
    color: red;
}

.no-xhrresponsetypejson li.xhrresponsetypejson {
    color: red;
}

.no-setclasses li.setclasses {
    color: red;
}